In [1]:
import pandas as pd

data = pd.read_csv('autoscout24_DE_1000cars.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Marke                 1000 non-null   object
 1   Modell                1000 non-null   object
 2   Farbe                 1000 non-null   object
 3   Erstzulassung         1000 non-null   object
 4   Jahr                  1000 non-null   object
 5   Preis (Euro)          1000 non-null   object
 6   Leistung (kW)         1000 non-null   object
 7   Leistung (PS)         1000 non-null   object
 8   Getriebe              1000 non-null   object
 9   Kraftstoff            1000 non-null   object
 10  Verbrauch (l/100 km)  892 non-null    object
 11  Verbrauch (g/km)      1000 non-null   object
 12  Kilometerstand (km)   999 non-null    float64
 13  Bemerkungen           1000 non-null   object
dtypes: float64(1), object(13)
memory usage: 109.5+ KB

In [2]:
data.isnull()

,Marke,Modell,Farbe,Erstzulassung,Jahr,Preis (Euro),Leistung (kW),Leistung (PS),Getriebe,Kraftstoff,Verbrauch (l/100 km),Verbrauch (g/km),Kilometerstand (km),Bemerkungen
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
data.isnull().sum()

Marke                     0
Modell                    0
Farbe                     0
Erstzulassung             0
Jahr                      0
Preis (Euro)              0
Leistung (kW)             0
Leistung (PS)             0
Getriebe                  0
Kraftstoff                0
Verbrauch (l/100 km)    108
Verbrauch (g/km)          0
Kilometerstand (km)       1
Bemerkungen               0
dtype: int64

In [6]:
missing_data = data.isnull()

In [7]:
data[ missing_data['Kilometerstand (km)'] ].head()

,Marke,Modell,Farbe,Erstzulassung,Jahr,Preis (Euro),Leistung (kW),Leistung (PS),Getriebe,Kraftstoff,Verbrauch (l/100 km),Verbrauch (g/km),Kilometerstand (km),Bemerkungen
708,peugeot,Peugeot 508,schwarz,37.500 km,12/2020,ACC,124 g/km,"4,4 l/100 km",Automatik,Automatik,2020,Diesel,NaN,GT BlueHDi 180 EAT8 Panoramadach

In [8]:
data['Jahr'].unique()

array(['2008', '2021', '2018', '2007', '2013', '2019', '2014', '2020',
       '2015', '2000', '2016', '2022', '2023', '2017', '2006', '2010',
       '2012', '1999', '2005', '2004', '2009', '2002', '2011', '2003',
       '1996', '2001', '1997', '12/2020'], dtype=object)